# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Model files (optional — if you don’t want to push them)
models/*.pkl

# VS Code settings (optional)
.vscode/

# Flask cache / instance folders
instance/
*.log
